.footer {
  &__logo {
    width: 140px;
    margin-right: 20px;
    position: relative;
    bottom: 6px;

    @include media-breakpoint-down(xs) {
      height: 30px;
    }
  }

  &__hint {
    padding-bottom: 2px;

    @include media-breakpoint-down(xs) {
      font-size: 12px;
    }
  }

  &__link {
    color: $purple;

    @include media-breakpoint-down(md) {
      padding: 5px 0;
    }

    &:not(:first-child) {
      @include media-breakpoint-up(md) {
        margin-left: 60px;
      }
    }
  }

  &__color-lines {
    width: 75%;
    margin-top: 25px;
    position: relative;
    left: -20px;
    transform: translateY(6px);
  }

  &__info {
    font-size: 14px;
    padding: 55px 15px 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  }

  &__city {
    font-family: 'GothamRounded-Book';
    color: $purple;
    margin-top: auto;

    &__icon {
      width: 19px;
      margin-top: auto;
    }
  }

  &__adress {
    font-family: 'Roboto';
    font-weight: 300;
  }

  &__social {
    &:not(:last-child) {
      margin-right: 23px
    }
  }

  &__legal {
    font-family: 'Roboto';
    font-weight: 300;
    margin-top: 43px;

    &__logo {
      width: 55px;
      margin-right: 12px;
    }

    &__copywrights {
      opacity: .6;
      margin-right: 5px;
    }

    &__notice {
      color: $purple;
      font-family: 'GothamRounded-Medium';
    }
  }
}
