.header {
  height: 150px;
  background-image: linear-gradient(to bottom, rgba(78, 45, 107, 0.6), rgba(134, 89, 164, 0));
  position: absolute;
  color: $white;
  z-index: 1;
  transition: height .4s;
  z-index: 2;

  &__links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
    padding: 0 5px;

    @include media-breakpoint-up(lg) {
      align-items: flex-end;
    }
  }

  &__logo {
    height: 35px;
    width: 120px;
    margin-right: 60px;
    transform: translateY(-5px);

    @include media-breakpoint-down(md) {
      margin-bottom: 10px;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;

    @include media-breakpoint-up(lg) {
      flex-direction: row;
      align-items: flex-end;
    }

    &__link {
      position: relative;
      width: fit-content;

      &:after {
        @include media-breakpoint-up(lg) {
          content: '';
          height: 2px;
          width: 100%;
          background-color: $yellow;
          position: absolute;
          bottom: -2px;
          left: 0;
          transition: opacity .2s;
          opacity: 0;
        }
      }

      @include media-breakpoint-up(lg) {
        display: block;
        margin-right: 35px;
      }

      @include media-breakpoint-down(md) {
        display: none;
        opacity: 0;
        margin-top: 20px;
        transform: translateY(-10px);
        transition: opacity .2s, transform .2s;

        &:last-child {
          transition-duration: .4s;
        }
      }

      &:hover {
        &:after {
          opacity: 1;
        }
      }

      &--active {
        &:after {
          opacity: 1;
          @extend %linkUnderline
        }
      }
    }
  }

  &__right {
    display: flex;
    align-items: center;

    span {
      position: relative;

      &:after {
        transition: opacity .2s;
        @extend %linkUnderline
      }

      &:hover {
        &:after {
          opacity: 1;
        }
      }
    }

    &>div>img {
      width: 23px;
    }
  }

  // TRANSPARENT
  &--transparent {
    background-image: none;
    color: $purple;

    &.header--open {
      color: $white;
      background-image: linear-gradient(to bottom, rgba(78, 45, 107, 0.9) 0%, rgba(78, 45, 107, 0.9) 46%, rgba(134, 89, 164, 0));
    }
  }

  // Sticky
  &--sticky {
    background-image: none;
    color: $purple;
    background-color: $white;
    position: fixed;
    height: 75px;
    @extend %shadow;
    font-family: 'GothamRounded-Book';
  }

  // MENU MOBILE OPEN
  &--open {
    color: $white;
    height: 100vh;
    background-color: transparent;
    background-image: linear-gradient(to bottom, rgba(78, 45, 107, 0.9) 0%, rgba(78, 45, 107, 0.9) 46%, rgba(134, 89, 164, 0));

    .header__left__link {
      display: block;
      opacity: 1;
      transform: translateY(0)
    }
  }
}
