.imageHeader {
  @extend %headerBackgroundImg;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &--home {
    background-blend-mode: soft-light;
    background-image: url('../assets/imgs/backgrounds/home.jpg');
  }

  &--individual {
    background-position-x: 80%;
    background-blend-mode: soft-light;
    background-image: linear-gradient(103deg, #7d6294, $purple),
      url('../assets/imgs/backgrounds/individual.jpg');

    //IE11 Only
    @media screen and (-ms-high-contrast: active),
    (-ms-high-contrast: none) {
      background-image: linear-gradient(103deg, #7d62947c, rgba(78, 45, 107, 0.479)),
        url('../assets/imgs/backgrounds/individual.jpg');
    }
  }

  &--professional {
    background-blend-mode: soft-light;
    background-image: linear-gradient(103deg, #7d6294, $purple),
      url('../assets/imgs/backgrounds/professional.jpg');

    //IE11 Only
    @media screen and (-ms-high-contrast: active),
    (-ms-high-contrast: none) {
      background-image: linear-gradient(103deg, #7d62947c, rgba(78, 45, 107, 0.479)),
        url('../assets/imgs/backgrounds/professional.jpg');
    }
  }

  &__container {
    margin-top: 5vh;

    @include media-breakpoint-up(md) {
      margin-top: 20vh;
    }
  }

  &__text {
    @extend %headerImgTitle;
  }

  &__views {
    color: $white;
    font-family: 'Roboto', sans-serif;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 16px;
  }

  &__star {
    width: 15px;
    height: 15px;
    margin-right: 2px;
  }

  &__appLink {
    margin-top: 70px;
    display: flex;
    align-items: center;
    flex-direction: column;

    &__logo {
      height: 45px;
      width: 150px;
    }

    &__text {
      font-family: 'Roboto';
      color: $white;
      margin: 70px 0 20px;
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
      text-align: center;

      @include media-breakpoint-down(md) {
        display: none;
      }
    }

    &__input {
      width: 183px;

      @include media-breakpoint-down(md) {
        display: none;
      }
    }

    &__btn {
      background-color: $yellow;

      @include media-breakpoint-down(md) {
        display: none;
      }
    }
  }
}
