.logos-slider {
  padding: 10px 0;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $white;
    border-radius: 10px;
    margin: 0 10px;
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.1);
    height: 100px;
    width: 175px;
    padding: 15px;

    img {
      max-height: 100%;
      max-width: 100%;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}
