.opinion-slider {
  margin-bottom: 100px;
  padding: 10px 0 30px;

  &__item {
    padding: 30px;
    display: flex;
    flex-direction: column;

    @include media-breakpoint-down(md) {
      margin: 0 15px;
      padding: 20px;
    }
  }

  &__img {
    width: 88px;
    height: 88px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    transform: translateY(-40px);
    border: 5px solid $white;
    box-sizing: content-box;
    flex-shrink: 0;

    @include media-breakpoint-down(md) {
      transform: translateY(-30px);
    }
  }

  &__icon {
    transform: translateX(15px);
    z-index: 0;
  }

  &__name {
    margin-top: 10px;
    z-index: 1;
    color: $purple;
    font-family: 'GothamRounded-Medium';
  }

  &__place {
    z-index: 1;
    color: $purple;
  }

  &__comment {
    margin-top: -10px;
  }

  .react-multi-carousel-item {
    cursor: pointer;
    opacity: .5;
    transform: scale(.9);
    transition: transform .4s, opacity .4s;

    &--active {
      opacity: 1;
      transform: scale(1);
      cursor: default;
    }
  }

  .react-multi-carousel-track {
    @include media-breakpoint-down(sm) {
      margin-bottom: 25px;
    }
  }

  &__dots {
    .react-multi-carousel-dot {
      button {
        width: 15px;
        height: 15px;
        border-radius: 10px;
        background-color: $purple-light;
        border: none;
        outline: none;
        margin: 5px;
      }

      &--active {
        button {
          background-color: $purple;
        }
      }
    }
  }
}
