.phoneSlider {
  padding: 40px 0 190px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow-x: hidden;
  overflow-y: visible;

  @include media-breakpoint-down(md) {
    padding: 0 0 120px 0;
    display: block;
  }

  &__phone {
    width: 255px;
    height: 507px;
    position: absolute;
    top: -3px;
    left: -2px;
  }

  &__phone-container {
    position: relative;
    width: 250px;
    height: 500px;
    display: flex;
    transition: all .2s;

    @include media-breakpoint-down(md) {
      margin: auto;
    }

    &:before {
      content: '';
      width: 563px;
      height: 563px;
      background-color: $purple-lighter;
      position: absolute;
      border-radius: 563px;
      top: 0;
      left: 120px;
      z-index: -1;

      @include media-breakpoint-down(md) {
        top: 150px;
        left: -110px;
      }
    }
  }

  &__bg {
    background-size: cover;
    position: absolute;
    width: 250px;
    height: 500px;
    border-radius: 60px;

    &--paris {
      background-image: linear-gradient(to bottom, rgba(78, 45, 107, .4), rgba(134, 89, 164, .4)), url('../assets/imgs/phoneSlider/paris-bg.jpg')
    }

    &--montpellier {
      background-image: linear-gradient(to bottom, rgba(78, 45, 107, .4), rgba(134, 89, 164, .4)), url('../assets/imgs/phoneSlider/montpellier-bg.jpg')
    }
  }

  &__slider {
    margin-top: auto;
    display: flex;
    transform: translateX(-178px);
    transition: transform .4s;

    &__container {
      overflow-x: hidden;
      margin-top: 275px;
    }

    &__item {
      width: 190px;
      height: 170px;
      margin: 0 0 30px 10px;
      border-radius: 15px;
      overflow: hidden;
      background-color: $white;
    }
  }

  &__goods {
    height: 140px;
    width: 100%;
    background-size: cover;
    background-position: center;
  }

  &__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7px;
  }

  &__text {
    font-size: 11px;
    margin-left: 5px;
    font-family: 'GothamRounded-Book';
  }

  &__city {
    color: $white;
    margin-left: 10px;
    font-size: 12px;
  }

  &__cta {
    padding-top: 70px;
    margin-left: 30px;

    @include media-breakpoint-down(md) {
      margin-top: 30px;
      margin-left: 0px;
      text-align: center;
      padding-top: 0px;
    }
  }

  &__hint {
    font-size: 19px;
    margin-bottom: 20px;

    @include media-breakpoint-down(md) {
      font-size: 16px;
      margin-bottom: 10px;
    }
  }

  &__logo {
    @include media-breakpoint-down(md) {
      width: 150px;
    }
  }
}
