.pressSlider {
  &__item {
    display: flex;
    justify-content: center;
    margin-bottom: 144px;
    padding: 15px;
  }

  &__title {
    color: $purple;
    margin-right: 5px;
    text-transform: uppercase;
  }

  &__text {
    margin-top: 4px;
    font-family: 'Roboto';
    font-weight: 300;
    font-style: italic;
    max-width: 640px;
  }

  &__logo {
    height: 100px;
    width: 200px;
    margin-right: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__camera {
    position: relative;
    top: -2px;
  }
}

.newsletter {
  margin-bottom: 120px;
}
