.recruitmentBlock {
  display: flex;

  &__container {
    height: auto;
    margin-bottom: 20px;
    width: 100%;

    @include media-breakpoint-up(md) {
      width: calc(50% - 7.5px);
    }

    @include media-breakpoint-up(lg) {
      width: calc(33% - 10px);
    }

    &:nth-child(3n+1) {
      order: 1;
      margin-right: 20px;

      @include media-breakpoint-down(sm) {
        margin-right: 0;
      }
    }

    &:nth-child(3n+2) {
      order: 2;
    }

    &:nth-child(3n) {
      order: 3;
      margin-left: 20px;

      @include media-breakpoint-down(md) {
        margin-left: 0;
      }
    }

  }

  &__img {

    img {
      border-radius: 30px 0 0 30px;
      height: 100%;
      object-fit: cover;
      width: 100px;
    }
  }

  &__icon {
    position: absolute;
    transform: translateX(-35px);
  }

  &__data {
    padding: 15px;
  }

  &__name,
  &__position {
    z-index: 1;
    color: $purple;
    font-size: 16px;
    position: relative;
  }

  &__name {
    text-transform: capitalize;
    font-family: 'GothamRounded-Medium';
    margin-bottom: 5px;
  }

  &__text {
    margin-top: 15px;
    font-family: 'Roboto';
    font-weight: 300;
    text-align: justify;
  }

  &--img {
    height: 250px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;


    &__hover {
      opacity: 0;
      transform: translateY(10px);
      transition: all .2s;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }

    &:hover {
      .recruitmentBlock--img__hover {
        opacity: 1;
        transform: translateY(0px);
      }
    }
  }

  &--video {
    height: 210px;
    background-size: cover;
    cursor: pointer;
    position: relative;

    &__hover {
      opacity: 0;
      transform: translateY(10px);
      transition: all .2s;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }

    &:hover {
      .recruitmentBlock--video__hover {
        opacity: 1;
        transform: translateY(0px);
      }
    }

    &__info {
      width: 100%;
      padding: 20px;
      display: flex;
      margin-top: 134px;
      background: linear-gradient(to bottom, rgba(26, 25, 25, 0), rgba(26, 25, 25, 0.9));
      color: $white;
      border-radius: 0 0 30px 30px;
    }

    &__name {
      font-family: 'GothamRounded-Medium';
    }
  }

  &--glassdoor {
    background-color: $green-light;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &:hover {
      .recruitmentBlock--glassdoor__text {
        &:after {
          width: 100%;
          left: 0;
          background: $white;
        }
      }
    }

    &__logo {
      width: 123px;
      margin: 28px auto;
    }

    &__footer {
      display: flex;
      justify-content: center;
      padding: 20px;
      color: $white;
      background-color: #00af3c;
    }

    &__text {
      position: relative;

      &:after {
        content: '';
        position: absolute;
        width: 0;
        height: 1px;
        display: block;
        margin-top: 5px;
        right: 0;
        background: $white;
        transition: width .2s ease;
      }
    }
  }
}
