.appointment {
  &__title {
    padding: 140px 0 20px;
    font-size: 22px;

    &--sm {
      font-size: 20px;
    }
  }

  &__hint {
    font-family: 'Roboto';
    font-size: 16px;

    &--lg {
      font-size: 20px;
      font-family: 'GothamRounded-Book';
    }
  }

  .loopBg {
    height: 600px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;

    &__info {
      margin-bottom: 80px;

      @include media-breakpoint-up(lg) {
        width: 570px;
      }
    }

    &__container {
      margin: 0 auto 200px;

      @include media-breakpoint-up(lg) {
        margin: 90px auto 200px;
      }
    }
  }

  &__switch {
    display: flex;

    & input {
      position: absolute !important;
      clip: rect(0, 0, 0, 0);
      height: 1px;
      width: 1px;
      border: 0;
      overflow: hidden;
    }

    &__label {
      @extend %input;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 45px;
      width: 100px;
      background-color: $white;
      font-family: 'GothamRounded-Book';
      transition: all .2s;
      border-radius: 30px;

      &:hover {
        cursor: pointer;
        background-color: $purple-lighter;
      }

      &--switch {
        width: 140px;

        &:first-of-type {
          transform: translateX(1px);
          padding-left: 5px;
          border-radius: 30px 0 0 30px;
        }

        &:last-of-type {
          transform: translateX(-1px);
          padding-right: 5px;
          border-radius: 0 30px 30px 0;
        }
      }
    }

    & input:checked+.appointment__switch__label {
      background-color: $purple-lighter;
      border: 2px solid $purple;
      box-shadow: none;
      font-family: 'GothamRounded-Medium';
      color: $purple;
      z-index: 1;
    }
  }

  &__date-picker {
    animation: .5s fadeInSmall ease-in-out;
  }

  &__picker {
    background-color: $white;
    margin: 0 auto 20px;
    display: flex;
    padding: 15px;
    transition: height .2s;
    left: 15px;
    right: 15px;
    border-radius: 30px;

    @include media-breakpoint-up(md) {
      width: 767px;
    }

    &__container {
      height: 1110px;
    }

    &__btn {
      @extend %shadow;
      background-color: $white;
      width: 60px;
      height: 60px;
      border: none;
      border-radius: 30px;
      margin-bottom: auto;
      flex: 1 0 auto;

      @include media-breakpoint-down(sm) {
        box-shadow: none;
        width: auto;
        height: auto;
        margin-top: 17px;
      }

      &:first-of-type {
        img {
          transform: rotate(180deg)
        }
      }

      img {
        height: 20px;
      }
    }

    &__days {
      width: 100%;
      overflow: hidden;

      &__slider {
        animation: .4s fadeInSmall ease-in-out;
        display: flex;
        transition: transform .3s;
      }
    }

    &__day {
      flex: 0 0 120px;
      padding-top: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;

      &__name {
        font: 14px "GothamRounded-Light";
        text-transform: capitalize
      }

      &__month {
        margin-top: 2px;

        &--selected {
          background: $purple;
          padding: 0 6px;
          height: 25px;
          display: flex;
          align-items: center;
          transform: translateY(-3px);
          color: $white;
          border-radius: 25px;
        }
      }
    }

    &__hours {
      display: flex;
      flex-direction: column;
      animation: .4s datePicker ease-in-out;
      margin: 5px 0 30px;
    }

    @keyframes datePicker {
      0% {
        opacity: 0;
        transform: translateY(10px);
        max-height: 0;
      }

      100% {
        transform: translateY(0px);
        opacity: 1;
        max-height: 100vh;
      }
    }
  }
}
