.appointmentValidation {
  padding: 160px 0;

  .title {
    z-index: 1;
    padding-top: 50px;
  }

  &__img {
    background-image: url("../assets/imgs/confetti-validation.svg");
    background-size: cover;
    background-position: center;
    width: 270px;
    height: 282px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -105px 0 40px;

    @include media-breakpoint-down(sm) {
      margin: -90px 0 40px;
    }

    & img {
      transform: translateY(40px)
    }
  }

  &__text {
    font-family: "GothamRounded-Book";
    margin-bottom: 40px;
  }
}
