.contact {
  padding-top: 140px;

  h1.title {
    margin-bottom: 40px;
    font-size: 22px;
  }

  &__headerImg {
    background-image: url("../assets/imgs/contact.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    height: 340px;
  }

  &__content {
    padding: 60px 100px 140px;

    @include media-breakpoint-down(md) {
      padding: 60px 0 140px;
    }
  }

  &__phone-container {
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__phone {
    display: flex;
    height: 48px;
    border-radius: 24px;
    border: 1px solid $purple;
    background-color: $purple;
    overflow: hidden;
    width: 273px;

    @include media-breakpoint-down(md) {
      margin: auto;
    }

    &__icon {
      padding: 0 15px 0 25px;
    }

    &__number {
      background-color: $white;
      margin-left: auto;
      border-bottom-left-radius: 24px;
      padding: 0 27px;
      display: flex;
      align-items: center;
      color: $purple;
      font-size: 20px;
    }
  }

  &__adress {
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
  }

  &__title {
    margin-bottom: 30px;

    @include media-breakpoint-up(lg) {
      text-align: left;
    }

    &--phone {
      @include media-breakpoint-up(lg) {
        margin-bottom: 0;
      }
    }
  }
}
