.home {
  &__points {
    position: relative;
    top: -30px;

    &--mobile {
      background-color: $white;
      padding: 0 20px 0 15px;
    }

    &__block {
      background-color: $white;
      flex: 1 1;
      height: 190px;
      border-radius: 10px;
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      cursor: pointer;
      opacity: 0;
      transform: translateY(80px);

      &:first-child {
        @include fadeInHome(1s, 0);
      }

      &:nth-child(2) {
        margin: 0 70px;
        @include fadeInHome(1s, 1s);
      }

      &:last-child {
        @include fadeInHome(1s, 2s)
      }

      &__bar {
        height: 20px;
        width: 100%;
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        margin-top: auto;

        &:after {
          @extend %block-bar;
        }
      }

      &:hover {
        .home__points__block__bar:after {
          background-color: $purple;
        }
      }
    }

    &__text {
      padding: 30px 15px 0;
      margin-top: -30px;
      width: 100% // IE 11 fix
    }

    &__fivemin {
      position: relative;
      top: -20px;
      margin-left: 5px;
    }

    &__experts {
      position: relative;
      top: -20px;
      margin-left: 5px;
      width: 200px;
    }

    &__dragndrop {
      position: relative;
      top: -20px;
      left: 15px;
      margin-bottom: 9px;
    }

    &__line {
      display: flex;
      align-items: center;

      &__first-text {
        position: relative;
        top: 12px;
      }

      &:first-child {
        position: relative;
        bottom: 20px;
      }

      &:last-child {
        margin: 10px 0 20px;

        .home__points__line__img {
          width: 70px;
          margin: 0 10px 0 5px;
        }
      }

      &__img {
        width: 80px;
        margin-right: 10px;
      }
    }
  }

  &__users {
    margin-top: 120px;

    &__block {
      height: 264px;
      border-radius: 10px;
      background-image: url("../assets/imgs/backgrounds/professional.jpg");
      background-size: cover;
      background-position: center;
      text-align: center;

      &--whynotyou {
        background-image: url("../assets/imgs/recruitment/carousel/carousel_1.jpg");
      }

      &:hover+.block__clickable:after {
        background-color: $purple;
      }
    }

    &__text-block {
      border-radius: 10px;
      margin: 0 30px;
      position: relative;
      top: -50px;
      height: 95px;
      display: flex;
      justify-content: center;
      text-align: center;
    }

    &__title {
      font-size: 18px;
      color: $purple;
      font-family: 'GothamRounded-bold';
    }
  }

  &__partners {
    margin-top: 30px;
    margin-bottom: 200px;

    &__container {
      padding-top: 100px;
    }

    &__bg {
      background-color: $grey-dark;
      position: absolute;
      width: 100%;
      transform: skewY(-2deg);
      z-index: -1;
      padding: 15px;
      height: 440px;
      box-sizing: border-box;

      &__confetti {
        background-image: url("../assets/imgs/confetti.svg");
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;
        background-size: contain;

        @include media-breakpoint-down(sm) {
          background-image: url("../assets/imgs/confetti-mobile.svg");
        }
      }
    }
  }

  &__last-cta {
    margin-bottom: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    @include media-breakpoint-up(lg) {
      flex-direction: row;
      text-align: left;
    }

    &__text {
      margin-bottom: 20px;

      @include media-breakpoint-up(lg) {
        margin-right: 80px;
        margin-bottom: 0;
        font-size: 20px;
      }
    }
  }
}
