.individual {
  &__advisors {
    transform: translate(0, 15px);

    @include media-breakpoint-down(sm) {
      transform: translate(-70px, 15px);
    }

    &--animate {
      .individual__advisor {
        animation: 1s fadeRight forwards ease-in-out;

        &:nth-child(2) {
          animation-delay: .5s;
        }

        &:nth-child(3) {
          animation-delay: 1s;
        }

        &__group {
          animation: 1s fadeRight 1.5s forwards ease-in-out;

        }
      }
    }
  }

  &__letsgo {
    margin-bottom: 200px;
  }

  .home__partners__bg {
    transform: skewY(-2deg) translateY(-100px);
  }

  &__advisor {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
    opacity: 0;

    @include media-breakpoint-down(xs) {
      margin-right: -20px;
    }

    &__name {
      color: $purple;
    }

    &__img {
      width: 78px;
    }

    &__group {
      opacity: 0;
      display: flex;

      &>div {
        margin-right: -20px;

        @include media-breakpoint-down(xs) {
          margin-right: -50px;
        }

        &:not(:first-child) {
          transform: translateY(19px);
        }

        &:first-child {
          z-index: -1;
        }

        &:nth-child(2) {
          z-index: -2;
        }

        &:last-child {
          z-index: -3;
        }
      }
    }
  }

  &__logos-slider {
    background-color: $grey;
    padding-bottom: 15px;

    &__text {
      margin: 25px 25px 10px;
      font-family: 'GothamRounded-Medium';
    }
  }

  &__hint {
    font-family: 'GothamRounded-Medium';
    font-size: 20px;
  }

  &__dragndrop-anim {
    position: absolute;
    background: #EDEAF0;
    border-radius: 10px;
    width: 492px;
    padding: 15px;

    @include media-breakpoint-down(sm) {
      width: 287px;
      transform: translateX(-60px);
    }

    &__text {
      font-size: 14px;
      font-family: 'GothamRounded-Medium';
      color: $purple;
      margin-bottom: 15px;
    }

    &__input {
      border: 2px dashed $purple-light;
      height: 50px;
      border-radius: 5px;
      display: flex;
      align-items: center;

      &::before {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 5px;
        background-color: $yellow;
        margin: 0 8px 0 20px;
      }

      &::after {
        content: '';
        display: block;
        width: 116px;
        height: 8px;
        border-radius: 5px;
        background-color: $purple-light;
      }

      &--animated {
        &::before {
          animation: toGreen 4s infinite;
        }

        &::after {
          animation: toPurple 4s infinite;
        }
      }
    }

    &__file {
      display: block;
      position: absolute;
      animation: 4s dragndrop ease-in-out;
      animation-iteration-count: infinite;
      left: 310px;
      bottom: -24px;
    }

    @keyframes dragndrop {
      0% {
        opacity: 0;
      }

      10% {
        opacity: 1;
      }

      50% {
        left: 120px;
        bottom: 10px;
        opacity: 1;
      }

      55% {
        opacity: 0;
      }

      100% {
        left: 120px;
        bottom: 10px;
        opacity: 0;
      }
    }

    @keyframes toGreen {
      50% {
        background-color: $yellow;
      }

      80% {
        background-color: $green;
      }

      100% {
        background-color: $green;
      }
    }

    @keyframes toPurple {
      50% {
        background-color: $purple-light;
      }

      80% {
        background-color: $purple;
      }

      100% {
        background-color: $purple;
      }
    }
  }
}
