.partner {
  &__header {
    @extend %headerBackgroundImg;
    background-image: linear-gradient(103deg, #c482ff66, #602d7538),
      url('../assets/imgs/backgrounds/partner.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    background-position-x: 30%;
  }

  &__firstBlock {
    transform: translateY(-50px);
    padding: 60px 100px;
    margin-bottom: 80px;

    @include media-breakpoint-down(md) {
      padding: 30px 15px;
      margin-bottom: 10px;
    }

    &__text {
      font-family: 'Roboto';
      font-weight: 300;
      margin-bottom: 30px;
    }

    &__data {
      color: $purple;
      display: flex;
      flex-direction: column;
      align-items: center;

      &__number {
        font-family: "GothamRounded-Bold";
        font-size: 20px;
        margin-top: 15px;
      }
    }
  }

  .block--step {
    margin-bottom: 20px;
  }

  &__partners {
    margin-top: 174px;
  }

  .loopBg {
    margin-top: 90px;
    height: 660px;
  }

  &__yourLogo {
    margin: 80px auto 60px;
    color: $purple;
    font-size: 18px;
    padding: 5px;

    &__container {
      display: flex;
      border: 1px dashed $purple;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      border-radius: 5px;
    }

    img {
      margin-bottom: 5px;
    }
  }
}
