.press {
  &__resources {
    padding: 170px 0;

    @include media-breakpoint-down(md) {
      padding: 80px 0;
    }

    &__block {
      height: 280px;
      background-size: cover;
      background-position: center;

      @include media-breakpoint-down(md) {
        margin-bottom: 15px;
      }

      &.logos {
        background-image: url('../assets/imgs/press/logos.svg');
      }

      &.photos {
        background-image: url('../assets/imgs/press/photos.jpg');
      }

      &.visuals {
        background-image: url('../assets/imgs/press/iphones.jpg');
      }

      &::after {
        position: relative;
      }

      &:hover {
        .press__resources__icon__arrow {
          top: 7px;
        }
      }
    }

    &__gradient {
      margin-top: auto;
      height: 100px;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0), $white);
    }

    &__footer {
      padding: 25px;
      background-color: $white;
      display: flex;
    }

    &__icon {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 15px;
      transform: translateY(2px);

      &__arrow {
        width: 20px;
        position: relative;
        top: 4px;
        transition: top .2s;
      }
    }

    &__title {
      font-family: "GothamRounded-Medium";
      color: $purple;
    }

    &__text {
      font-family: 'Roboto';
      font-weight: 300;
    }
  }

  .newsletter {
    margin-bottom: 80px;
  }

  &__laura-btn {
    padding: 0 20px;

    @include media-breakpoint-down(sm) {
      margin-top: 30px;
    }
  }
}
