.professional {
  &__sms {
    transform: translateY(-140px);
    display: flex;
    flex-direction: column;

    @include media-breakpoint-down(md) {
      transform: translateY(-30px);
    }
  }

  &__title {
    margin-top: -80px;

    @include media-breakpoint-down(md) {
      margin-top: 40px;
    }
  }

  &__advisors {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;

    &__img {
      width: 110px;

      img {
        width: 100%;
      }

      @include media-breakpoint-down(xs) {
        width: 60px;
      }

      &:not(:first-child) {
        margin-right: -35px;

        @include media-breakpoint-down(xs) {
          margin-right: -15px;
        }
      }
    }
  }

  &__questions {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
