.recruitment {
  &__carousel {
    &__item {
      height: 73vh;

      &>div {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: top;

        @include media-breakpoint-down(md) {
          background-position: center;
        }
      }
    }

    &__dot {
      z-index: 1;

      @include fadeIn(1s, 0s);

      .react-multi-carousel-dot {
        transform: translateY(-23px);

        button {
          width: 50px;
          height: 4px;
          border-radius: 2px;
          background-color: $purple-light;
          border: none;
          outline: none;
        }

        &--active {
          button {
            background-color: $purple;
          }
        }
      }
    }
  }

  &__firstBlock {
    position: relative;
    top: -50px;
    padding: 60px 100px;

    @include media-breakpoint-down(md) {
      padding: 60px 20px 30px;
    }

    &__data {
      text-align: center;
      flex: 1 1 50%;
      margin-bottom: 87px;

      @include media-breakpoint-down(md) {
        margin-bottom: 43px;
      }
    }

    &__year {
      font: 20px 'GothamRounded-Medium';
    }

    &__values {
      margin-top: 20px;
      color: $purple;
      font-family: 'GothamRounded-Medium';
    }
  }

  &__blocks-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 3320px;

    @include media-breakpoint-up(md) {
      height: 1900px;
    }

    @include media-breakpoint-up(lg) {
      height: 1290px;
    }

    @include media-breakpoint-up(xl) {
      height: 1280px;
    }
  }

  &__offer {
    width: 372px;
  }

  &__process {
    margin-bottom: 90px;

    &__img {
      border-radius: 50%;
      width: 174px;
      border: 5px solid $white;
    }

    &__dots {
      margin: 0 20px;
      display: flex;

      @include media-breakpoint-down(md) {
        flex-direction: column;
        margin: 10px 0;
      }
    }

    &__dot {
      width: 4px;
      height: 4px;
      border-radius: 2px;
      background-color: $purple;
      margin: 5px;
    }

    &__text-container {
      display: flex;
      margin: 20px 0 0;

      @include media-breakpoint-up(xl) {
        margin: 20px 100px 0;
      }

      @include media-breakpoint-down(md) {
        display: none;
      }
    }

    &__text {
      font-family: 'GothamRounded-Book';
      flex: 1 1 33%;
      text-align: center;

      @include media-breakpoint-down(md) {
        margin-top: 10px;
        ;
      }
    }
  }
}
