.fadeIn {
  animation: 5s fadeIn ease-in-out;
}

.fadeIn1s {
  animation: 1s fadeIn ease-in-out;
}

.fadeIn04s {
  animation: .4s fadeInSmall ease-in-out;
}

@mixin fadeIn($duration, $delay) {
  animation: $duration fadeIn ease-in-out;
  animation-delay: $delay;
  animation-fill-mode: forwards;
}

@mixin fadeInHome($duration, $delay) {
  animation: $duration fadeInHome ease-in-out;
  animation-delay: $delay;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(80px)
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes fadeInSmall {
  0% {
    opacity: 0;
    transform: translateY(10px)
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes fadeInHome {
  0% {
    opacity: 0;
    transform: translateY(40px)
  }

  30% {
    opacity: 1;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes fadeRight {
  0% {
    opacity: 0;
    transform: translatex(10px)
  }

  100% {
    transform: translatex(0px);
    opacity: 1;
  }
}

@keyframes fadeRight {
  0% {
    opacity: 0;
    transform: translatex(10px)
  }

  100% {
    transform: translatex(0px);
    opacity: 1;
  }
}

@keyframes fadeOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
