*,
p,
h1,
h2,
h3,
h4,
label {
  margin: 0; // overwrite bootstrap margins and paddings
  padding: 0;
}

body {
  line-height: normal;
  color: $black;
  font-family: 'GothamRounded-Medium', sans-serif;
  font-size: 14px;
  line-height: 1.31;
  background-color: $grey;

  @include media-breakpoint-up(md) {
    font-size: 16px;
  }
}

.mb-40 {
  margin-bottom: 40px;
}

.mt-100 {
  margin-top: 100px;
}

.f-50 {

  &:first-child {
    flex: 1 1;
    flex-basis: calc(50%-10px);
    margin-right: 10px;
  }

  &:last-child {
    flex: 1 1;
    flex-basis: calc(50%-10px);
    margin-left: 10px;
  }

  @include media-breakpoint-down(md) {
    flex: 1 0 100%;
  }
}
