// COLORS
$black: #1a1919;
$white: #fff;
$purple: #4E2D6B;
$purple-light: #bab2c1;
$purple-lighter: rgba(78, 45, 107, .08);
$yellow: #F6BE25;
$pink: #DE4A88;
$green: #3EA547;
$green-light: #7ed79d;
$blue: #4CACD2;
$grey: #F7F5F8;
$grey-dark: #f3f0f5;
$grey-darker: #e0dfe0;

// EXTENDS
%headerBackgroundImg {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  height: 73vh;
}

.headerImgTitle,
%headerImgTitle {
  color: $white;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  font-family: 'GothamRounded-Medium';
  text-align: center;
  font-size: 16px;

  @include media-breakpoint-up(lg) {
    font-size: 20px;
  }
}

%block-bar {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: $purple-light;
  position: absolute;
  bottom: 0;
  transition: background-color .2s;

  @include media-breakpoint-down(md) {
    display: none;
  }
}

.fullpage,
%fullpage {
  width: 100%;
  height: calc(100vh - 80px);
  padding-top: 80px;
  margin-bottom: 80px;
}

.shadow,
%shadow {
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.1);
}

.loopBg {
  position: absolute;
  width: 100%;
  height: 540px;
  transform: skewY(-2deg);
  background-color: $grey-dark;
  background-image: url("../assets/imgs/appointment-bg.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;

  @include media-breakpoint-down(xs) {
    background-image: url("../assets/imgs/appointment-bg-small.svg");
    background-position: right;
    background-size: contain;
  }
}

%linkUnderline {
  content: '';
  height: 2px;
  width: 100%;
  background-color: $yellow;
  position: absolute;
  bottom: -2px;
  left: 0;

  @include media-breakpoint-up(lg) {
    opacity: 0;
  }
}
