.block {
  font-family: 'GothamRounded-Book';
  @extend %shadow;
  box-sizing: border-box;
  border-radius: 30px;
  background-color: $white;

  &__clickable {
    background-color: $white;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    cursor: pointer;
    border-radius: 10px;

    &:after {
      @extend %block-bar;
    }

    &:hover {
      &:after {
        background-color: $purple;
      }
    }
  }

  &--step {
    margin-bottom: 60px;
    padding: 30px 0 0 0;

    &--step2 {
      min-height: 206px;

      @include media-breakpoint-down(sm) {
        margin-bottom: 210px;
      }
    }

    &__step {
      flex: 0 0 190px;
      text-align: center;
      padding-bottom: 30px;

      @include media-breakpoint-down(md) {
        flex: 0 0 90px;
      }

      &__number {
        color: $yellow;
        font: 22px 'GothamRounded-Medium';
        margin-bottom: 20px;
      }

      img {
        @include media-breakpoint-down(md) {
          width: 45px;
        }
      }
    }

    &__title {
      font: 16px 'GothamRounded-Medium';
      color: $purple;
      margin-bottom: 20px;
      padding-right: 15px;
    }

    &__text {
      font: 300 16px 'Roboto';
      margin-bottom: 20px;
      padding-right: 60px;
    }
  }

  &--contact {
    width: 100%;
    margin: 0 auto 100px;
    display: flex;
    overflow: hidden;

    @include media-breakpoint-up(md) {
      width: 570px;
    }

    .title {
      margin: 0;
    }

    &__info {
      padding: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      text-align: center;
      width: 100%;

      @include media-breakpoint-down(sm) {
        padding: 25px;
      }
    }

    &__name {
      font-family: "GothamRounded-Medium";
      margin-bottom: 3px;
    }

    &__position {
      font-family: "GothamRounded-Light";
    }

    &__img {
      height: 300px;

      @include media-breakpoint-down(sm) {
        width: 118px;
        height: 118px;
        border-radius: 118px;
        object-fit: cover;
        object-position: top;
      }
    }

    &__text {
      text-align: left;

      @include media-breakpoint-up(md) {
        text-align: center;
      }
    }
  }
}
