.btn {
  border-radius: 30px;
  height: 60px;
  padding: 0 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform .2s;
  font-family: 'GothamRounded-Medium';

  @include media-breakpoint-down(xs) {
    padding: 0;
    width: 100%;
    font-size: 14px;
  }

  &:hover {
    transform: scale(1.03);
  }

  &__primary {
    background: linear-gradient(to right, #fbe04c, #f6be25);
    color: $purple;

    &:hover {
      color: $purple;
    }
  }

  &__secondary {
    background: linear-gradient(to right, #8659a4, #4e2d6b);
    color: $white;

    &:hover {
      color: $white;
    }
  }

  &--line {
    border-radius: 0 30px 30px 0;
    width: 340px;
    @extend %shadow;

    @include media-breakpoint-down(sm) {
      border-radius: 0 0 30px 30px;
      width: 100%;
    }
  }

  &--success {
    background: linear-gradient(to right, #51a658, #235c28);

    &:hover {
      transform: none;
    }
  }
}

// LINKS
a {
  color: inherit;
  display: block;

  &:hover {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
  }

  &.underlined {
    text-decoration: underline;
  }
}

.link {
  background: none;
  border: none;
  color: $purple;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: $purple;
    transition: width .2s ease;
  }

  &:hover {
    color: $purple;

    &:after {
      width: 100%;
      left: 0;
      background: $purple;
    }
  }

  &__arrow {
    margin-left: 10px;
  }
}
