.input {
  border-radius: 30px;
  height: 60px;
  padding: 0 30px;
  outline: none;
  display: flex;
  align-items: center;

  &--line {
    border: none;
    border-radius: 30px 0 0 30px;
    width: 340px;
    @extend %shadow;

    @include media-breakpoint-down(sm) {
      border-radius: 30px 30px 0 0;
      width: 100%;
    }
  }
}

.label {
  margin: 40px 0 0 10px;
  font-family: 'GothamRounded-Book';
}

.form {
  &__input {
    padding: 0 20px;
    @extend %input;
    width: 100%;
    height: 50px;

    &--phone {
      max-width: 180px;
    }
  }

  &__textarea {
    @extend %input;
    width: 100%;
    height: 200px;
    padding: 20px;
    margin-bottom: 60px;
  }
}

%input {
  margin-top: 12px;
  border: 1px solid $grey-darker;
}

::placeholder {
  color: $grey-darker;
  opacity: 1;
}

:-ms-input-placeholder {
  color: $grey-darker;
}

::-ms-input-placeholder {
  color: $grey-darker;
}
