.mediaFullScreen {
  position: fixed;
  background: rgba(78, 45, 107, 0.8);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: 1s opacityIn ease-in-out;

  &__container {
    margin: 0 15px;
    display: flex;
    align-items: flex-end;
    flex-direction: column-reverse;

    @include media-breakpoint-up(sm) {
      align-items: flex-start;
      flex-direction: row;
    }

    video,
    img {
      border-radius: 30px;
      max-width: 80vw;
      max-height: 90vh;
    }
  }

  &__close {
    flex-shrink: 0;
    width: 45px;
    margin: 0 0 20px 20px;
    cursor: pointer;
  }
}

@keyframes opacityIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
